h3{
    font-size : 18px;
    color : black;
    font-weight: 700;
}
p{
    font-size: 32px;
    color : black;
    font-weight: 700;
}
img{
    height: 100px;
}
@media (max-width:720px){
    img{
        margin-top: 15px;
    }
}